.SearchBar {
  border: solid 0px transparent;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.247);
  width: 400px;
  height: 7vh;
}

.SearchInput {
  border: solid 0px transparent;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.247);
  margin: 5px;
  padding: 12px;
  width: 70%;
  height: 3vh;
}

.SearchButton {
  border: solid 0px transparent;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.247);
  margin: 5px;
  padding: 12px;
  width: 15%;
}
