.UserCollection a {
  color: rgb(189, 189, 189);
}

.UserCollection a:hover {
  color: rgb(158, 158, 158);
}

.UserCollection {
  border: solid 5px transparent;
}

fieldset {
  margin: 15px;
  border: solid 1px rgb(189, 189, 189);
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(167, 167, 167, 0.4);
}

legend {
  margin-left: auto;
  margin-right: auto;
}

.UserPortfolio {
  margin: 5px;
  padding: 5px;
  border: solid 1px transparent;
  border-radius: 10px;
  text-align: center;
}

.UserNFTCollection {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
  border: solid 1px transparent;
  border-radius: 10px;
}
