.App {
  display: flex;
  flex-direction: column;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border: solid 1px transparent;
  background: rgb(31, 44, 94);
  box-shadow: 0px 1px 5px rgb(13, 20, 49);
}
