*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: linear-gradient(rgb(31, 44, 94), rgb(81, 85, 100));
  background-attachment: fixed;
  color: rgb(189, 189, 189);
  font-family: "Merriweather Sans", sans-serif;
}
